/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* per tutti */
.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    /* da cancellare */
    min-height: 300px;
    border: 1px solid black;
}
.container-small {
    width: 75%;
    max-width: 900px;
    margin: 0 auto;
    /* da cancellare */
    min-height: 100px;
    border: 1px solid black;
}
/* da cancellare */
.color{
    background-color: black;
}
/* /da cancellare */
.pad-30{
    padding-top: 30px;
}
.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 20px;
}
ul{
    list-style: none;
}

img{
    max-width: 100%;
}
.center{
    text-align: center;
}
.relative{
    position: relative;
}
.txt-size{
    font-size: 1.3rem;
}
/* header */
.header{
    display: flex;
    justify-content: space-between; 
    min-height: 50px;
    align-items: center;

}
.row {
    display: flex;
    gap: 10px;
}

.header-sec{
    display: flex;
    gap: 30px;
}
.header-b{
    background-color: #0061fe;
    padding: 0.4em 0.8em;
    display: inline-block;
    color: white;
    
}
.b-style{
    text-decoration: none;
    color: white
}
/* hero */
h1{
    font-size: 5rem;
}
.col-60 {

    width: 70%;
}

.col-40 {

    width: 30%;
}
.bk-hero{
    background-color: #b4d0e6;
    padding-top: 30px;
}
.hero-abs{
    margin-top: 100px;
    font-size: 4rem;
}
/* 3 colonne */
.bk-3-col{
    background-color: white;
    padding-top: 30px;
}
.col-3{
    width: calc((100% - 20) / 3);
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}
.point-1{
    position: relative;
    margin-left: 10px;
}
.point-1::before{
    content: '' ;
    background: white;
height: 5px;
width: 5px;
position: absolute;
right: 100%;
bottom: 15%;
border: 3px solid #0061fe;
border-radius: 50%;
}
.point-2{
    position: relative;
    margin-left: 10px;
   
}
.point-2::before{
    content: '' ;
    background: white;
height: 5px;
width: 5px;
position: absolute;
right: 100%;
bottom: 15%;
border: 3px solid #0061fe;
border-radius: 50%;
}
.row-3-col{
    gap: 30px;
    
}
.row-container-3-col{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}

.container-3-col{
    min-height: 300px;
    border: 1px solid black;
    
}
.title-3-col{
    text-align: center;
}


/* team */
.list{
    margin: 20px;
    
}
.list-item{
    margin-bottom: 20px;
}
.ent{
    font-size: 2rem;
}
.blue-butt{
    background-color: #0061fe;
    padding: 0.4em 0.8em;
    color: white;
    display: inline-block;
}
.butt-abs{
    position: relative;
    bottom: 110px;
    left: 580px;

}
/* partner */
.col-70 {

    width: 60%;
}

.col-30 {

    width: 40%;
}
.w-but{
    background-color: white;
    padding: 0.4em 0.8em;
    display: inline-block;
    color: grey;
    border: 1px solid grey;
}
/* 6-col */
.row-6-col{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}

.col-6{
    width: calc(95% /3);
}
.col-sing{
    display: flex;
    flex-direction: column;
}
.mt-60{
    margin-top: 60px;
}
/* top footer */
.footer-row{
    display: flex;
    justify-content: space-between;
    row-gap: 10px;
}
.footer-col{
    width: calc((100% - 20) / 3);
    background-color: rgb(0, 0, 0);
    color: white;
}

/* bot foote */
.font-col{
    color: white;
}
hr{
    width: 70px;
}

